#!/usr/bin/env bash

# Go Setup

eval "$(goenv init -)"
export GOCACHE="$PWD/.gocache"
export GOMODCACHE="$PWD/.gomodcache"

# Python Setup

if [ ! -d .venv ]; then
  uv venv .venv
fi
source .venv/bin/activate
